Courses/templates/courses/index.html
Courses/templates/courses/partials/_categories.html
Pages/templates/pages/index.html
Pages/templates/pages/contact.html
Pages/templates/pages/about.html
templates/base.html
templates/partials/_nav.html