{% extends "base.html" %} 

{% block css_files %}
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
{% endblock css_files %}

{% block page_title %} 
    Kurslar 
{% endblock page_title%} 

{% block content %}
    <div class="container mt-3">
      <div class="row">
        <div class="col-3">
          <div class="list-group">
            {% for category in categories %}
              {% comment %} <a href="/kurs/kategori/{{category}}" class="list-group-item list-group-item-action"> {{category}} </a> {% endcomment %}
              <a href="{% url "courses_by_category_name" category %}" class="list-group-item list-group-item-action"> {{category}} </a>
            {% endfor %}
          </div>
        </div>
        {% comment %} {% include "courses/partials/_categories.html" %} {% endcomment %}

        <div class="col-9"></div>
      </div>
    </div>
{% endblock content %}
